WOODPECKER_ADMIN="{{woodpecker.admin}}"
WOODPECKER_GITEA="true"
WOODPECKER_GITEA_URL="{{woodpecker.gitea.url}}"
WOODPECKER_HOST="http://{{woodpecker.host}}"
WOODPECKER_SERVER=localhost:9000
WOODPECKER_GITEA_CLIENT="{{woodpecker.gitea.client_id}}"
WOODPECKER_GITEA_SECRET="{{woodpecker.gitea.secret}}"
WOODPECKER_AGENT_SECRET="{{woodpecker.agent_secret}}"

{{woodpecker.extra_options}}